//
//  testnet.xcconfig
//  decred_wallet
//
//  Created by Collins Olanrewaju on 11/04/2019.
//  Copyright © 2019 The Decred developers. All rights reserved.
//

APP_NAME = Decred Wallet Testnet
APP_ICON = AppIconTestnet
APP_BUNDLE_ID = com.decred.dcrios.testnet3
IS_TESTNET = true
TicketMaturity = 16
TargetTimePerBlock = 120
LogDir = wallet/logs/testnet3/dcrlibwallet.log
NetType = testnet3
