//
//  mainnet.xcconfig
//  decred_wallet
//
//  Created by Collins Olanrewaju on 11/04/2019.
//  Copyright © 2019 The Decred developers. All rights reserved.
//

ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES
FRAMEWORK_SEARCH_PATHS = $(inherited) "${PODS_CONFIGURATION_BUILD_DIR}/CryptoSwift" "${PODS_CONFIGURATION_BUILD_DIR}/JGProgressHUD" "${PODS_CONFIGURATION_BUILD_DIR}/MBProgressHUD" "${PODS_CONFIGURATION_BUILD_DIR}/QRCodeReader.swift" "${PODS_CONFIGURATION_BUILD_DIR}/SlideMenuControllerSwift"
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) COCOAPODS=1
LD_RUNPATH_SEARCH_PATHS = $(inherited) '@executable_path/Frameworks' '@loader_path/Frameworks'
OTHER_CFLAGS = $(inherited) -iquote "${PODS_CONFIGURATION_BUILD_DIR}/CryptoSwift/CryptoSwift.framework/Headers" -iquote "${PODS_CONFIGURATION_BUILD_DIR}/JGProgressHUD/JGProgressHUD.framework/Headers" -iquote "${PODS_CONFIGURATION_BUILD_DIR}/MBProgressHUD/MBProgressHUD.framework/Headers" -iquote "${PODS_CONFIGURATION_BUILD_DIR}/QRCodeReader.swift/QRCodeReader.framework/Headers" -iquote "${PODS_CONFIGURATION_BUILD_DIR}/SlideMenuControllerSwift/SlideMenuControllerSwift.framework/Headers"
OTHER_LDFLAGS = $(inherited) -framework "CryptoSwift" -framework "JGProgressHUD" -framework "MBProgressHUD" -framework "QRCodeReader" -framework "SlideMenuControllerSwift"
OTHER_SWIFT_FLAGS = $(inherited) "-D" "COCOAPODS"
PODS_BUILD_DIR = ${BUILD_DIR}
PODS_CONFIGURATION_BUILD_DIR = ${PODS_BUILD_DIR}/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)
PODS_PODFILE_DIR_PATH = ${SRCROOT}/.
PODS_ROOT = ${SRCROOT}/Pods

APP_NAME = Decred Wallet
APP_ICON = AppIcon
APP_BUNDLE_ID = com.dcrios
IS_TESTNET = false
TicketMaturity = 256
TargetTimePerBlock = 300
LogDir = wallet/logs/mainnet/dcrlibwallet.log
NetType = mainnet
