//
//  mainnet.xcconfig
//  decred_wallet
//
//  Created by Collins Olanrewaju on 11/04/2019.
//  Copyright © 2019 The Decred developers. All rights reserved.
//

APP_NAME = Decred Wallet
APP_ICON = AppIcon
APP_BUNDLE_ID = com.decred.dcrios.mainnet
IS_TESTNET = false
TicketMaturity = 256
TargetTimePerBlock = 300
LogDir = wallet/logs/mainnet/dcrlibwallet.log
NetType = mainnet
